select {
  appearance: none;
}

label {
  appearance: none;
}

option {
  appearance: none;
}

optgroup {
  appearance: none;
}

.combobox-trigger {
  width: 100px;
  height: 55px;
  display: block;
  box-sizing: border-box;
}

input {
  width: 100%;
  height: 100%;
}

input:focus {
  border-color: red;
}
button {
  padding: 20px;
  border: 5px solid black;
}

.combobox-trigger:focus {
  border-color: red;
}

ul {
  background-color: green;
  font-size: 2rem;
}


li:hover {
  color: red;
}

li:focus {
  background-color: yellow;
}
