.wristband-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.Light-Mode.Bracelet-Idle .cls-2 {
  fill: #cacbcc;
}

.Light-Mode.Bracelet-Success .cls-2 {
  fill: #cac898;
}

.handBracelet .cls-1 {
  isolation: isolate;
}

.Light-Mode.Bracelet-Idle .cls-2 {
  fill: #cacbcc;
}

.handContainer .Light-Mode {
  padding: 10px;
  border-radius: var(--border-radius-2);
  /* box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3); /\*black with 30% opacity*\/ */
  /* background-color: var(--grey-0); */
}

.Light-Mode .handBracelet .cls-6 {
  fill: $maze-pink;
}
.handBracelet .cls-3 {
  opacity: 0.5;
  mix-blend-mode: multiply;
}
.Light-Mode .handBracelet .cls-4 {
  fill: #555555;
}
.Light-Mode .handBracelet .cls-5 {
  fill: grey;
  /* fill: var(--maze_grey_idle); */
}

.Light-Mode .handBracelet .cls-6 {
  fill: var(--primary-medium);
}

#circle .cls-1 {
  fill: #008183;
}

.Light-Mode.arrowDown .cls-1 {
  fill: none;
  stroke: #555;
  stroke-width: 2px;
}
.Dark-Mode.arrowDown .cls-1 {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.Dark-Mode .handBracelet .cls-6 {
  fill: pink;
}
.Dark-Mode .handBracelet .cls-4 {
  fill: white;
}
.Dark-Mode .handBracelet .cls-5 {
  fill: #170f27;
}

.Light-Mode.Bracelet-Idle .cls-2 {
  fill: #cacbcc;
}

.Light-Mode.Bracelet-Success .cls-2 {
  fill: pink;
  /* fill: var(--secondary-strong); */
  /* fill: var($maze-pink); */
}

.Dark-Mode.Bracelet-Idle .cls-2 {
  fill: #1a112c; /* #330066; */
}

.Dark-Mode.Bracelet-Success .cls-2 {
  /* fill: var(--secondary-strong); */
  fill: pink;
  /* fill: var($maze-pink); */
}

.Light-Mode.scroll-package .cls-1 {
  fill: $maze-pink;
}
.Dark-Mode.scroll-package .cls-1 {
  fill: #fc7d7d;
}

.clear-button .cls-1 {
  fill: #555;
}
.clear-button .cls-2,
.clear-button .cls-3 {
  fill: #fff;
}
.clear-button .cls-3 {
  stroke: #fff;
  stroke-width: 1.34px;
}

.save-button .cls-1 {
  /* fill: var(--maze_grey_idle); */
  fill: pink;
}
.save-button .cls-2 {
  fill: #fff;
}

.Light-Mode.userSvg .cls-1 {
  fill: #dbe3ec;
  stroke: #cacbcc;
}
.Light-Mode.userSvg .cls-2 {
  fill: #cacbcc;
}

.Dark-Mode.userSvg .cls-1 {
  fill: #0c0019;
  stroke: #190138;
}
.Dark-Mode.userSvg .cls-2 {
  fill: $maze-pink;
}
