:root {
  --purple-color-h: 273;
  --purple-color-s: 80%;
  --purple-color-l: 50%;

  --pink-color-h: 318;
  --pink-color-s: 80%;
  --pink-color-l: 50%;

  --blue-color-h: 249;
  --blue-color-s: 80%;
  --blue-color-l: 50%;

  --purple-color: hsl(var(--purple-color-h), var(--purple-color-s), var(--purple-color-l));
  --purple-color-10: hsl(var(--purple-color-h), var(--purple-color-s), calc(var(--purple-color-l) + 5%));
  --purple-color-20: hsl(var(--purple-color-h), var(--purple-color-s), calc(var(--purple-color-l) + 10%));
  --purple-color-30: hsl(var(--purple-color-h), var(--purple-color-s), calc(var(--purple-color-l) + 15%));
  --purple-color-40: hsl(var(--purple-color-h), var(--purple-color-s), calc(var(--purple-color-l) + 20%));
  --purple-color-50: hsl(var(--purple-color-h), var(--purple-color-s), calc(var(--purple-color-l) + 25%));
  --purple-color-60: hsl(var(--purple-color-h), var(--purple-color-s), calc(var(--purple-color-l) + 30%));
  --purple-color-70: hsl(var(--purple-color-h), var(--purple-color-s), calc(var(--purple-color-l) + 35%));
  --purple-color-80: hsl(var(--purple-color-h), var(--purple-color-s), calc(var(--purple-color-l) + 40%));

  --pink-color: hsl(var(--pink-color-h), var(--pink-color-s), var(--pink-color-l));
  --pink-color-10: hsl(var(--pink-color-h), var(--pink-color-s), calc(var(--pink-color-l) + 5%));
  --pink-color-20: hsl(var(--pink-color-h), var(--pink-color-s), calc(var(--pink-color-l) + 10%));
  --pink-color-30: hsl(var(--pink-color-h), var(--pink-color-s), calc(var(--pink-color-l) + 15%));
  --pink-color-40: hsl(var(--pink-color-h), var(--pink-color-s), calc(var(--pink-color-l) + 20%));
  --pink-color-50: hsl(var(--pink-color-h), var(--pink-color-s), calc(var(--pink-color-l) + 25%));
  --pink-color-60: hsl(var(--pink-color-h), var(--pink-color-s), calc(var(--pink-color-l) + 30%));
  --pink-color-70: hsl(var(--pink-color-h), var(--pink-color-s), calc(var(--pink-color-l) + 35%));
  --pink-color-80: hsl(var(--pink-color-h), var(--pink-color-s), calc(var(--pink-color-l) + 40%));

  --blue-color: hsl(var(--blue-color-h), var(--blue-color-s), var(--blue-color-l));
  --blue-color-10: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 5%));
  --blue-color-20: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 10%));
  --blue-color-30: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 15%));
  --blue-color-40: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 20%));
  --blue-color-50: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 25%));
  --blue-color-60: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 30%));
  --blue-color-70: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 35%));
  --blue-color-80: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 40%));


  /* feedback */
  --color-success: green;
  --color-error: red;
  --color-warning: purple;

  /* themes */

  /* typography */
  --text-on-dark-color: white;
  --text-ratio: 1.2;
  --text-nl: 0.875em;
  --text-xs: calc(var(--text-nl) / var(--text-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-ratio));
  --text-md: calc(var(--text-sm) * var(--text-ratio));
  --text-lg: calc(var(--text-md) * var(--text-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-ratio));

  /* spacing system */
  --space: 1em;
  --space-xxxxs: calc(0.125 * var(--space));
  --space-xxxs: calc(0.25 * var(--space));
  --space-xxs: calc(0.375 * var(--space));
  --space-xs: calc(0.5 * var(--space));
  --space-sm: calc(0.75 * var(--space));
  --space-md: calc(1.25 * var(--space));
  --space-lg: calc(2 * var(--space));
  --space-xl: calc(3.25 * var(--space));
  --space-xxl: calc(5.25 * var(--space));
  --space-xxxl: calc(8.5 * var(--space));
  --space-xxxxl: calc(13.75 * var(--space));

  /* layer system */
  /* common */
  --border-radius-0: 4px;
  --border-radius-1: 8px;
  --border-radius-2: 16px;
}

.purple {
  background: var(--purple-color);
}

.purple-10 {
  background: var(--purple-color-10);
}

.purple-20 {
  background: var(--purple-color-20);
}

.purple-30 {
  background: var(--purple-color-30);
}

.purple-40 {
  background: var(--purple-color-40);
}

.purple-50 {
  background: var(--purple-color-50);
}

.purple-60 {
  background: var(--purple-color-60);
}

.purple-70 {
  background: var(--purple-color-70);
}

.purple-80 {
  background: var(--purple-color-80);
}

.pink {
  background: var(--pink-color);
}

.pink-10 {
  background: var(--pink-color-10);
}

.pink-20 {
  background: var(--pink-color-20);
}

.pink-30 {
  background: var(--pink-color-30);
}

.pink-40 {
  background: var(--pink-color-40);
}

.pink-50 {
  background: var(--pink-color-50);
}

.pink-60 {
  background: var(--pink-color-60);
}

.pink-70 {
  background: var(--pink-color-70);
}

.pink-80 {
  background: var(--pink-color-80);
}

.blue {
  background: var(--blue-color);
}

.blue-10 {
  background: var(--blue-color-10);
}

.blue-20 {
  background: var(--blue-color-20);
}

.blue-30 {
  background: var(--blue-color-30);
}

.blue-40 {
  background: var(--blue-color-40);
}

.blue-50 {
  background: var(--blue-color-50);
}

.blue-60 {
  background: var(--blue-color-60);
}

.blue-70 {
  background: var(--blue-color-70);
}

.blue-80 {
  background: var(--blue-color-80);
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 100px);
  grid-template-rows: repeat(3, 40px);
  grid-gap: 4px
}
