.menu {
  background-color: yellow;
}

.menu:focus {
  color: blue;
}

.menuItem {
  color: red;
}


.submenu {
  background-color: green;
}

.submenu:focus {
  color: blue;
}

.menuItem:hover {
  opacity: .5;
}

.menuItem:focus {
  padding: 10px;
}
