.menu {
  background-color: yellow;
}

.menu:focus {
  color: blue;
}

.menuItem {
  color: red;
}


.submenu {
  background-color: green;
}

.submenu:focus {
  color: blue;
}

.menuItem:hover {
  opacity: .5;
}

.menuItem:focus {
  padding: 10px;
}

.menu-trigger {
  border: 5px solid black;
}

.menu-trigger:focus {
  background-color: yellow;
}

.menu-list {
  background-color: green;
}

.menu-member:focus {
  background-color: yellow;
}

a:focus {
  color: red;
}
